@import "reset.css";

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;

}
header{
    font-family: 'Roboto', sans-serif;
}
.header__top{
    background: #303030;
}
.header__btn{
    float: right;
    color: #1b1b1b;
    font-size: 16px;
    line-height: 36px;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    position: relative;
}
.header__btn::before{
    font-family: 'icomoon';
    content: "\f0b1";
    position: absolute;
    left: 22px;
}
.header__contects::after{
    content: "";
    clear: both;
    display: block;
}
.header__phone,
.header__email{
    color: #cbcacb;
    letter-spacing: 0.25;
    line-height: 45px;
    position: relative;
}
.header__phone{
    padding: 0 30px 0 20px;
}
.header__phone::before{
    font-family: 'icomoon';
    content: "\f095";
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header__email{
    padding-left: 24px;
}
.header__email::before{
    font-family: 'icomoon';
    content: "\f003";
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header__content{
    padding: 34px 0 23px;
}
.menu li{
    display: inline-block;
}
.menu li + li{
    padding-left: 10px;
}
.menu a{
    color: #323232;
    line-height: 36px;
    font-size: 16px;
    padding: 0 16px;
    border: 1px solid transparent;
    transition: all 0.3s;
}
.menu a:hover{
    border-color: #ffc222;
}
.header__content-inner{
    display: flex;
    justify-content: space-between;
}
#modal{
    display: none;
}
.slider{
    background-image: url(../img/slider-fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
}
.slider__item-content{
    max-width: 665px;
    padding-top: 110px;
    text-align: center;
    margin: 0 auto;
}
.slider__title{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 22px;
}
.slider__text{
    font-size: 18px;
    color: #d3d2d2;
    line-height: 24px;
    margin-bottom: 50px;
}
.default-btn{
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    letter-spacing: 0.35px;
    border: 1px solid #ffc222;
    padding: 8px 30px 8px 24px;
    border-right-width: 20px;
    position: relative;
}
.default-btn::after{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}
.slider__inner{
    position: relative;
}
.slick-btn{
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    color: inn;
    border: 1px solid #ffffff;
    background-color: #ffc222;
    outline: none;
    cursor: pointer;
}
.slick-btn.slick-disabled{
    cursor: default;
    background-color: transparent;
}
.slick-btn::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: #ffffff;
}
.slick-next::before{
    content: "\f105";
}
.slick-prev::before{
    content: "\f104";
}
.slick-next{
    right: 0;
}
.slick-prev{
    left: 0;
}
.services{
    padding: 60px 0 35px;
}
.services__top,
.news__top{
    margin-bottom: 67px;
    display: flex;
    justify-content: space-between;
}
.services__title-box,
.form__title-box,
.news__title-box{
    width: 520px;
    padding-left: 140px;
    position: relative;
}
.services__title-box::before,
.form__title-box::before,
.news__title-box::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ffc222;
    left: 0;
    top: 11px;
}
.services__title,
.form__title,
.news__title{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    color: #212020;
    margin-bottom: 15px;
}
.services__text,
.form__text,
.news__text{
    color: #5e5e5e;
    line-height: 18px;
    letter-spacing: 0.14px;
}
.services__btn a,
.news__btn a{
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.35px;
    padding: 14px 42px;
    border: 3px solid #e6e6e6;
    font-family: 'Roboto', sans-serif;
}
.services__items{
    display: flex;
    justify-content: space-between;
}
.services__item{
    max-width: 360px;
    min-height: 375px;
    padding: 30px 0 80px;
    text-align: center;
    position: relative;
    box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14);
    background-color: #f9f9f9;
}
.services__item-title{
    padding: 24px 0;
    color: #212020;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}
.services__item-text{
    letter-spacing: 0.14px;
    padding: 0 30px 30px;
}
.services__item-btn{
    position: absolute;
    bottom: 40px;  
    right: 0;
    left: 0;
}
.services__item-link{
    color: #050505;
    border-bottom: 1px solid #050505;
    font-family: 'Roboto', sans-serif;
    margin-right: 60px;
}
.services__item-btn .default-btn{
    color:#373636;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    letter-spacing: 0.35px;
}
.services__item-btn .default-btn::after{
    color:#fff;
}
.about{
    background-image: url(../img/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 0 45px;
    min-height: 300px;
}
.about__inner{
    max-width: 540px;
}
.about__title{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 30px;
}
.about__text{
    color: #d3d2d2;
    line-height: 24px;
    letter-spacing: 0.14px;
    margin-bottom: 30px;
}
.about__btn{
    color: #ffffff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.35px;
}
.about__btn .default-btn::after{
    color: #000;
}
.form{
    padding-top: 30px;
}
.form__inner{
    padding-bottom: 40px;
    background-image: url(../img/form-bg.png);
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.form__title-box{
    margin-bottom: 40px;
}
.form__box{
    max-width: 850px;
}
.form__box-inner{
    display: flex;
    justify-content: space-between;
}
.form__box-inner label {
    color: #282828;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
}
.form__box-inner input{
    margin-bottom: 8px;
    outline: none;
    border: 1px solid #e6e6e6;
    height: 40px;
    padding: 0 10px;
}
.form__box-left{
    max-width: 265px;
    width: 100%;
}       
.form__box-right{
    max-width: 555px;
    width: 100%;
}
.form__box-inner input,
.form__box-inner label,
.form__box-inner textarea,
.form__box-inner select {
        display: block;
        width: 100%;
}
.form__box-inner select{
    outline: none;
    border: 1px solid #e6e6e6;
    height: 40px;
    padding-left: 17px;
}
.form__box-inner textarea{
    outline: none;
    height: 208px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    resize: none;
    margin-bottom: 45px;
}
.form__box-inner button {
    background-color: transparent;
    color: #282828;
    float: right;
}
.have{
    padding: 55px 0 40px;
    background-image: url(../img/have-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 285px;
}
.have__items{
    display: flex;
    justify-content: space-between;
}
.have__item{
    text-align: center;
    max-width: 333px;
}
.have__img{
    border: 2px solid #ffc222;
    padding: 15px;
    margin-bottom: 25px;
}
.have__title{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 23px;
}
.have__text{
    letter-spacing: 0.14px;
    color: #d3d2d2;
    line-height: 24px;
}
.news{
    padding: 68px 0 30px;
}
.footet__content{
    background-color: #595959;
    padding: 20px 0 30px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__map{
    padding-top: 10px;
}
.footer__map iframe{
    width: 630px;
    height: 250px;
}
.footer__copy{
    background-color: #303030;
    min-height: 45px;
}
.copy__text{
    color: #ffffff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.6px;
    line-height: 24px;
    text-align: center;
    padding: 16px 0;
}

.footet__topinner{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}